@import '../../assets/scss/main.scss';


.main {
    @include flexLeftAlignedVertically;
    margin: 8em 2em 3em 2em;
    min-width: 800px;

    .link {
        color: $textColor;
        word-break: break-all;
    }

    .filter {
        position: relative;
        min-width: 800px;

        .filterField {
            width: 60%;
            padding: 1em 3em;
            margin: 0.5em 0;
            @include flexCenter;
            border: 1px solid $greyColor;
            border-radius: 0.25em;
            margin-top: 0;
        }

        .searchIcon {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0.7em;
            left: 0.8em;
        }
    }

    .booksmarksInfo {
        .cardWrapper {
            display: none;
        }

        .tableWrapper {
            .bookmarkTable,
            td,
            th {
                border: 1px solid $greyColor;
                text-align: left;
                color: $textColor;
                width: 100%;
                border-collapse: collapse;
                padding: 1em 3em;
                word-break: break-all;

                .linkIcon {
                    width: 15px;
                    height: 15px;
                    margin: 0.7em 0 0 0.25em;
                }
            }

            tbody {
                display: block;
                max-height: 450px;
                overflow-y: scroll;
            }

            thead,
            tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
        }
    }
    @include screenType(tablet) {
        @include flexCenter;
        margin-top: 6.5em;
        margin-bottom: 0;

        .filter {
            min-width: 375px;

            .filterField {
                width: 78%;
                min-height: 2em;
            }

            .searchIcon{
                top: 1em;
            }
        }
        .tableWrapper {
            display: none;
        }
        .cardWrapper {
            display: block !important;
            width: 100%;
            min-width: 375px;
            max-height: 350px;
            overflow-y: scroll;

            .card {
                padding-left: 0;
                @include flexCenter;
                @include flexColumn;
                margin-top: 0;

                .infoList {
                    list-style: none;
                    width: 300px;
                    height: 150px;
                    box-shadow: 0 0 0.25em rgb(0 0 0 / 15%);
                    color: $textColor;
                    @include flexCenter;
                    @include flexColumn;
                    margin: 1em;

                    .infoCard {
                        @include flexColumn;
                        text-align: center;
                        width: 100%;

                        .bookMarkText {
                            padding: 0.5em 0;
                        }

                        .tag {
                            padding-bottom: 0.5em;
                        }
                    }
                }
            }
        }
    }
}
